body{
    background-color: palevioletred;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;

}
p{
    font-size: 12px;
}

.styleForSubheadings{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color:#64d2ad;
}

#makingTheTop{
    color: red;
}